# Python
__pycache__
*.py[cod]

# Local environment
/.coverage*
/.env
/.envrc
/coverage.*

# IDEs
/.idea
/.metals
/.vscode

# Misc
.*.swp
.DS_Store


/admin/dist
/admin/node_modules
/admin/package-lock.json
/compose.override.yaml
/scripts/test_data/
